@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;900&display=swap');

:root {
    --biru-laut: #406AD8;
    --merah-anemia: #CE3030;
    --merah-light: #FFDEDE;
    --gray-almostdark: #E3E3E3;
    --gray-light: #F5F5F5;
    --white: #FFFFFF;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    background-color: var(--gray-light);
}

.blue {
    color: var(--biru-laut);
}

.red {
    color: var(--merah-anemia);
}

#landing-page {
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: auto;
    grid-template-areas:
        "navbar header"
        "navbar main"
        "navbar footer";
}

header {
    text-align: center;
    font-size: 1.8em;
    grid-area: header;
    font-weight: bold;
}

header > h1 {
    margin: 0.1em;
}

nav {
    grid-area: navbar;
}

nav-item {
    visibility: hidden;
}

#main {
    grid-area: main;
    padding-right: 1em;
    display: grid;
    grid-template-columns: 64% 36%;
    grid-template-rows: auto;
    grid-template-areas:
        "filter filter"
        "calendar day";
}

#filter {
    grid-area: filter;
    background-color: var(--gray-almostdark);
}

#filter section {
    display: inline-block;
    margin: 1em;
}

#filter h2 {
    display: inline;
    width: fit-content;
    font-weight: 500;
    margin-right: 1em;
}

#filter button {
    padding: .5em;
    font-size: 1em;
    min-width: 120px;
    background-color: var(--merah-light);
    border-radius: 10px;
    cursor: pointer;
}

#calendar {
    grid-area: calendar;
}

#day {
    grid-area: day;
}