<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./../../static/landingpage/LandingPage.css">
    <title>PacilNugas!</title>
</head>
<body id="landing-page">
    <header>
        <h1><span class="blue">Pacil</span><span class="red">Nugas!</span></h1>
    </header>

    <nav>
        <nav-item>Home</nav-item>
        <nav-item>Personalized Page</nav-item>
        <nav-item>Score Tracker</nav-item>
        <nav-item>Pacil Message</nav-item>
    </nav>
    <div id="main">
    <div id="filter">
        <section id="year">
            <h2>Angkatan:</h2>
            <button class="filter-button">2020</button>
            <button class="filter-button">2019</button>
            <button class="filter-button">2018</button>
            <button class="filter-button">2017</button>
        </section>
        <section id="major">
            <h2>Jurusan:</h2>
            <button class="filter-button">Ilmu Komputer</button>
            <button class="filter-button">Sistem Informasi</button>
        </section>
    </div>

    <div id="calendar"></div>

    <div id="day"></div>
    </div>
</body>
</html>