<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/fragments/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/activities/rincian/rincian.css}">
    <script th:inline="javascript">
        /* variable used by counter.js */
        var dates = [[${AssignmentIni.getDeadlineFormatted()}]];
        var time = [[${AssignmentIni.getTime()}]];
    </script>
    <script type="text/javascript" th:src="@{/activities/rincian/counter.js}"></script>
    <title>Assignment Details</title>
</head>

<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="flex-container">
    <div class="flex-item-top">
        <p> </p>
        <p style="font-size: 20px;font-weight: 700; text-align: center;"><a th:text="${AssignmentIni.getTitle()}"></a></p>
        <p style="font-size: 20px;font-weight: 500; text-align: right;"><a th:text="${AssignmentIni.getMatkul()}"></a></p>
    </div>
    <div><hr></div>



    <div class="kosong"></div>
    <p th:text="${AssignmentIni.getDescription()}"></p>
    <div class="kosong"></div>

    <div class="flex-item-top">
        <div style="flex: 1;">
            <p style="font-weight: 700;">Angkatan:</p>
            <p th:text="${AssignmentIni.getAngkatan()}"></p>
        </div>
        <div style="flex: 1;">
            <p style="font-weight: 700;">Jurusan:</p>
            <p th:text="${AssignmentIni.getMajor()}"></p>
        </div>
    </div>

    <div class="kosong"></div>

    <div class="flex-item-top">
        <div style="flex: 1;">
            <p style="font-weight: 700;">Pengajar:</p>
            <p th:text="${AssignmentIni.getMaker_username()}"></p>
        </div>
        <div style="flex: 1;">
            <p style="font-weight: 700;">Deadline:</p>
            <p><span th:text="${AssignmentIni.getDeadlineFormatted()}"></span>, <span th:text="${AssignmentIni.getTime()}"></span></p>
        </div>
    </div>

    <div class="kosong"></div>

    <div id="clockdiv">
        <h5><span id="end1" style="color: rgb(219, 0, 0);font-weight: 700;"></span></h5>
        <h5><span id="end2" style="color: rgb(245, 188, 0);font-weight: 700;"></span></h5>
        <h5><span id="end3" style="color: rgb(59, 204, 30);font-weight: 700;"></span></h5>
        <div>
            <span id="days"></span>
            <div class="smalltext">Hari</div>
        </div>
        <div>
            <span id="hours"></span>
            <div class="smalltext">Jam</div>
        </div>
        <div>
            <span id="mins"></span>
            <div class="smalltext">Menit</div>
        </div>
        <div>
            <span id="secs"></span>
            <div class="smalltext">Detik</div>
        </div>
    </div>

</div>

<div class="kosong"></div>
<div class="flex-container-but">
    <a th:href="@{/task/view/{idAss}/edit(idAss=${AssignmentIni.getId_activity()})}"><button class="button">Edit</button></a>
</div>
<div class="footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/fragments/navbar.js}"></script>
</body>
</html>