<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Daftar Pesan</title>
    <style>
        #menu-list h2, #menu-list h3{
            margin: 0;
        }

        #menu-list div {
            border: 1px solid gray;
            box-shadow: 0 4px 4px rgba(0,0,0,0.4);
            padding: 1rem;
            border-radius: 0.5rem;
        }

        #menu-list td {
            padding-bottom: 0.6rem;
        }

        #menu-list h3 {
            font-weight: normal;
        }

        .radioButton {
            display: inline;
        }
    </style>
</head>

<body>
<div class="py-3 text-left">
    <div class="container">
        <div class="row">
            <div class="mx-auto p-4 col-md-7">
                <h1 class="mb-4">Masukkan Pesan!</h1>
                <form th:action="@{/new-pesan}" method="POST">
                    <div class="form-group">
                        <label for="nama">Penerima Pesan</label>
                        <input type="text" class="form-control" id="nama" name="nama" placeholder="Maung">
                        <label for="kategori">Pilih Kategori Pesan</label>
                        <select class="form-control" id="kategori" name="kategori">
                            <option value="" selected="" disabled="">Pilih Kategori Pesan</option>
                            <option value="Ujian">Pesan penyemangat ujian</option>
                            <option value="Tugas">Pesan penyemangat tugas</option>
                            <option value="Bebas">Pesan sehari-hari</option>
                        </select>
                        <label for="motivasi">Isi Pesan</label>
                        <textarea class="form-control" id="motivasi" rows="4" cols="50" name="motivasi" >Isi pesanmu disini...</textarea>
                        <h3 class="form-control">Tambah quotes</h3>
                        <input type="radio" class="form-control" id="yes" name="quotes" value="Yes">
                        <label for="yes">Yes</label>
                        <input type="radio" class="form-control" id="no" name="quotes" value="No">
                        <label for="no">No</label>
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-block">Kirim</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>